html, body, #viewDiv {
    padding: 0;
    margin: 0;
    height: 90%;
    width: 100%;
}

#instructions {
    font-family: Calibri;
}

#timeSlider {
    position: absolute;
    text-align: center;
    bottom: 20px;
    width: 100%;
}