<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PSU COVID-19 Tracker</title>
    <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:bold;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    </style>
    <link rel="stylesheet" type="text/css" href="/static/styles/base.css">
    <link rel="stylesheet" href="https://js.arcgis.com/4.16/esri/themes/light/main.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/map.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icon/favicon-16x16.png">
    <link rel="manifest" href="/static/icon/site.webmanifest">
    <script src = 'https://code.jquery.com/jquery-3.4.1.min.js'
    type = 'text/javascript'></script>
    <script src="https://js.arcgis.com/4.16/"></script>
    <script src="/static/js/map.js"></script>
</head>
<body>
    <div id="header">
        <div id="covid_logo">
            <img src="/static/images/covid.png" height="120px" width="120px">
        </div>
        <div id="title">
            <h1>COVID-19 Tracker</h1>
        </div>
        <div id="psu_logo">
            <img src="/static/images/psu_logo.png" height="100px" width="100px">
        </div>
    </div>
    <hr>
    {% block content %}
    {% endblock %}
    <div>
        SWENG 894 - Fall 2020<br />
        <i>Team 4: Edward Dimio, Daniel Kochmar, Rory Mulcahey, Tom Simmavath, Moyo Williams</i>
    </div>
    <br />
    <div>Accessed: {{ timestamp }}</div>
    <div>Version: 1.0.0</div>
</body>
</html>