{% extends "base.html" %}

{% block content %}
    <div id="instructions">
        <img src="/static/images/instructions.png" height="20px" width="20px">
        Use the map to find COVID-19 data of a location
    </div>
    <div id="viewDiv"></div>
    <div id="timeSlider"></div>
{% endblock %}